[2018-11-19 22:38] fsimonis opened #13 "Update to Foundation 6.5.x"

[2018-11-19 22:48] fsimonis opened #18 "Turn developers into a data set"
This improves maintainability and allows to autogenerate the page leading to less code.
It also allows us to experiment with the design of the page.

[2018-11-19 22:55] fsimonis opened #20 "Add PDF, BibTeX and Website buttons to citations"
These should be configurable and may not exist for each publication.

[2018-11-19 22:55] fsimonis opened #29 "Add PDF, BibTeX and Website buttons to citations"
These should be configurable and may not exist for each publication.

[2018-11-19 23:07] fsimonis opened #24 "Fix sticky top bar"
Add `data-sticky-on="small" ` to enable sticky on small screens. (default is medium)

https://foundation.zurb.com/sites/docs/sticky.html

[2018-11-20 08:59] MakisH commented on #16
We could even have the LGPL logo somewhere.

[2018-11-20 09:00] MakisH commented on #22
What is a Hero in this context?

[2018-11-20 09:57] fsimonis commented on #22
@MakisH https://en.wikipedia.org/wiki/Hero_image

[2018-11-20 10:16] uekerman commented on #22
We could reuse some "heros" from http://coplon.de/

[2018-11-20 10:48] fsimonis commented on #15
"Now" is a long time ago. The social icon in the footer suffices.

[2018-11-24 18:17] MakisH opened #30 "Add a fancy 404 page"
See [GitHub documentation](https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/).

[2018-12-04 10:11] #24 closed

[2018-12-10 09:21] #13 closed

[2018-12-21 17:35] MakisH opened #27 "Add physical units to the description of adapters"
We have a [list of all the fields an adapter supports for coupling](https://www.precice.org/codes/) (e.g. temperature, heat flux, etc), but we should also mention the expected physical units / dimensions. These sometimes differ from adapter to adapter, or may differ for in-house adapted solvers.

[2018-12-21 17:35] MakisH opened #31 "Add physical units to the description of adapters"
We have a [list of all the fields an adapter supports for coupling](https://www.precice.org/codes/) (e.g. temperature, heat flux, etc), but we should also mention the expected physical units / dimensions. These sometimes differ from adapter to adapter, or may differ for in-house adapted solvers.

[2019-01-01 22:16] MakisH commented on #28
[Added](https://www.precice.org/resources/).

[2019-01-14 09:48] #18 closed

[2019-02-04 07:46] uekerman opened #32 "Embed youtube videos on testimonial page"
Instead of the picture. Should be optional, though. We will get one from Derek next month to test with.

[2019-02-04 10:04] MakisH commented on #32
In the same context (but maybe not on the testimonials), it would be nice to have a way to also embed external video files (e.g. my [talk in FOSDEM](https://fosdem.org/2019/schedule/event/precice/), which is published as a `webm` and as an `mp4` file).

[2019-02-11 10:43] uekerman opened #33 "Add form for testimonials"
On the testimonials page, there is currently a button `Tell us your story`, which leads to `resources/#contact`.

I would be better if the link leads to a form where people can submit their testimonial. This could be a simple google form or something similar, let's not reinvent the wheel. Nice side-effect would be that we than could also give this link to whomever we want to ask for a testimonial.

[2019-02-11 10:43] uekerman opened #42 "Add form for testimonials"
On the testimonials page, there is currently a button `Tell us your story`, which leads to `resources/#contact`.

I would be better if the link leads to a form where people can submit their testimonial. This could be a simple google form or something similar, let's not reinvent the wheel. Nice side-effect would be that we than could also give this link to whomever we want to ask for a testimonial.

[2019-02-14 13:31] MakisH opened #43 "Add FEniCS-based tutorials"
Add them in [resources](https://www.precice.org/resources/).

Preferably, move them to the wiki and update the links in the wiki home page and sidebar.

[2019-03-28 12:21] MakisH opened #44 "Testimonial not rendered correctly"
[This testimonial](https://github.com/precice/precice.github.io/blob/35902ffda18589a1c8dfd099cbdf770e43110b11/_testimonials/08-WindEnergyDelft.md) is missing its title and figure (see [precice.org](https://www.precice.org/testimonials/)).

I tried to find out what is going wrong, but the data file looks correct. Interestingly, it is also rendered differently on GitHub.

[2019-03-29 14:35] fsimonis commented on #44
Fixed :wink:

[2019-03-29 14:35] #44 closed

[2019-05-30 08:19] MakisH opened #34 "Add a section for talks"
We currently have a page for [Publications](https://www.precice.org/publications/), which is not updated very active.

As now at least some of us upload slides on databases such as [MediaTUM](https://mediatum.ub.tum.de/), and as we also have video-recorded talks (such as from [FOSDEM](https://www.youtube.com/watch?v=FCv2FNUvKA8)), we could support a section for talks.

Even further, I often find p

[2019-05-30 08:19] MakisH opened #50 "Add a section for talks"
We currently have a page for [Publications](https://www.precice.org/publications/), which is not updated very active.

As now at least some of us upload slides on databases such as [MediaTUM](https://mediatum.ub.tum.de/), and as we also have video-recorded talks (such as from [FOSDEM](https://www.youtube.com/watch?v=FCv2FNUvKA8)), we could support a section for talks.

Even further, I often find p

[2019-06-09 10:07] uekerman opened #51 "Add a section for funding"
For multiple funding sources, we are required to put their information on our website. Besides that, I think that it might also increase trust in preCICE.
As more and more funding sources are involved, we should add a separate section and adjust the information in the [FAQ](https://www.precice.org/faq/).

I have already collected images on Nextcloud `images/funding/...`

We need mostly images, som

[2019-07-09 11:49] #51 closed

[2019-12-06 13:39] MakisH opened #35 "Section about preDOM"
It would be nice to have a section about our preDOM project, to collect material (e.g. presentations) that would be interesting to other people interested in software sustainability.

[2020-10-26 22:40] MakisH opened #8 "Include parts of pages from different repositories"
In some cases, we want to manage the documentation files together with the respective code files. This particularly affects:
- installation & configuration of adapters: we want to remember that we need to update the documentation and not have to maintain multiple PRs across repositories. This makes reviewing and version management easier.
- tutorials: we want each tutorial case to have the instruc

[2020-11-10 10:35] ajaust opened #70 "Link to FAQ on Discourse broken"
The [FAQ page](https://www.precice.org/faq/) is referring to the Discourse page [https://precice.discourse.group/tags/faq](https://precice.discourse.group/tags/faq). However, the page on Discourse does not exist (anymore?)

[code]

[2020-11-10 11:16] MakisH commented on #70
The link works for me, also in private mode. Could you try again? Maybe it was a temporary issue.

[2020-11-10 11:18] ajaust commented on #70
I can confirm that it works now.

[2020-11-10 11:18] #70 closed

[2021-01-19 08:25] MakisH opened #12 "Add a page for student projects"
We could create a page similar to our [Publications](https://www.precice.org/publications.html), move there the student projects that have been completed, and a call for applications to the different groups.

[2021-01-19 16:46] BenjaminRodenberg opened #14 "Provide documentation for several versions + develop"
I think this would be a useful feature for developers as well as users of older preCICE versions. I know that this is not simple to implement and it will probably require to have a release cycle for `precice/precice.github.io` that is synchronized with `precice/precice`. We will also need a `master` and `develop` branch + tags corresponding to releases.

Here is an example: https://docs.bokeh.org/

[2021-01-20 12:05] fsimonis opened #15 "Add sections for special systems"
We still need to move the [old page on systems](https://github.com/precice/precice/wiki/Get-preCICE#special-systems) to the new website.
This can also be cleaned up a lot.

[2021-01-20 12:06] fsimonis opened #16 "Add dependency and distro strategy to website"
Our dependencies follow a baseline (Ubuntu 18.04 LTS).
We need to formalize what our strategy for dependencies on distros is.

[2021-01-20 15:10] uekerman commented on #15
Sometimes legacy information can also be helpful. If somebody faces a similar cluster again. Certain things do not change. In my opinion, no need to over-engineer this here. A plain copy of the old content would already be good.

[2021-01-25 12:36] fsimonis commented on #15
Added in 9b461ae

[2021-01-25 12:36] #15 closed, assigned to fsimonis

[2021-01-27 12:38] MakisH commented on #16
On the content: My understanding is that we aim to support the latest two LTS releases (right now 18.04 and 20.04, as well as any actively supported newer version, e.g. 20.10 until June 2021).

This kind-of fits with our "breaking changes only every 2-3 years", as we can then remove the older of the two versions with every major preCICE release.

- preCICE 1.x (until 2020): Ubuntu 16.04, 18.04
- p

[2021-01-27 12:44] MakisH opened #17 "Documentation of parameters to change for each supported solver"
Originating from the review of the restructuring the perpendicular flap FSI tutorial cases: https://github.com/precice/tutorials/pull/146#discussion_r561034075

Such a hint would be useful for users that want to compare cases, and it would also helpful for us to navigate in each solver's configuration, without having to first read their documentation (as we are typically not users of the solvers).

[2021-01-27 14:37] BenjaminRodenberg commented on #17
I think defining the parameters clearly and providing them on the website will help us a lot in the future! I am just not 100% what to do. Therefore, I try to give an example:

We want one piece of documentation per solver and case. Example: I document **where in the code** (line ... in `perp_flap-py`) one can set **which parameters** (Young's modulus `E`, ...) on the FEniCS side for the FSI case

[2021-01-27 14:45] BenjaminRodenberg commented on #17
Another thing that might be useful: Sometimes there exist well-know formulas to convert one set of parameters to another one. OpenFOAM, for example, uses the Prandtl number `Pr` to define flow with heat transport, while it uses Diffusivity + Conductivity for heat transport in a solid. That's what I understand from the [`transportProperties`](https://github.com/precice/openfoam-adapter/blob/master/

[2021-01-27 16:14] MakisH commented on #17
I don't mean documenting the parameters of each tutorial: that would be difficult to maintain.

What I mean is a sentence such as "In `case.inp` you can set the Young's Modulus using the parameter `E`" (or whatever). No values, only future-proof hints.

Your comment about the inconsistency OpenFOAM adapter is mainly an issue with the current implementation and I don't want to discuss it in this is

[2021-01-28 09:29] chlorenz commented on #14
I did some research on versioning going into the development of the new documentation + website, and I'll share my thoughts behind our decision not to implement it at this time and when it might become appropriate to do so.

The TL;DR is versioning adds complexity, and as long as it is nice-to-have but not must-have, we should not implement it.

### Technical considerations
As you have hinted at,

[2021-02-11 15:42] MakisH opened #19 "Missing style for <details>"
We currently use `<details>` in several places, to hide less-important content and make pages shorter. However, this is not discoverable at the moment ([example](https://github.com/precice/precice.github.io_old/blob/master/css/workshop.css)).

We need a global solution for this: a nice rule, probably somewhere in https://github.com/precice/precice.github.io/blob/master/css/theme-precice.css

[2021-02-11 16:38] MakisH opened #21 "Website fails HTML validation"
Running the [HTML Validator on our website](https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.precice.org%2F) reports a few issues. Many of them are very easy to fix (thus the good-first-issue), but some probably need some additional discussion, mainly:

![Screenshot from 2021-02-11 17-37-04](https://user-images.githubusercontent.com/4943683/107667425-da171100-6c8f-11eb-887f-983db45f93d4.png)
![S

[2021-02-11 18:04] MakisH opened #22 "Missing page about ECCOMAS COUPLED 2019"
We now have pages for:
- COUPLED 2021: https://github.com/precice/precice.github.io/blob/master/pages/community/eccomas-coupled-2021.md
- WCCM 2020: https://github.com/precice/precice.github.io/blob/master/pages/community/community-events-wccm-2021.md

It would be nice to also add a detailed page for [COUPLED 2019](https://congress.cimne.com/coupled2019/frontal/ProgramPrint.asp?id=MoM1), in which

[2021-02-11 18:05] MakisH opened #23 "Missing page for ECCM-ECFD 2018"
We now have pages for:
- COUPLED 2021: https://github.com/precice/precice.github.io/blob/master/pages/community/eccomas-coupled-2021.md
- WCCM 2020: https://github.com/precice/precice.github.io/blob/master/pages/community/community-events-wccm-2021.md

It would be nice to also add a detailed page for [ECCM-ECFD 2018](https://eccm-ecfd2018.org/frontal/MSList.asp), in which we organized a minisympos

[2021-03-03 15:53] dcs-soni commented on #21
Hey. I would like to work on this issue.

[2021-03-04 10:20] ajaust opened #25 "Information encoded in non-searchable image (e.g. installation on Windows or MacOS)"
Some information is available on the homepage, but not (easily) searchable/findable. An example is the information on installing preCICE on Windows. Information about using MinGW, the subsystem or so is only in the figure on https://www.precice.org/installation-overview.html

When using the search engine to search for `windows`, most results point to `time-windows` or to MPI as dependency on Windo

[2021-03-05 12:46] chlorenz commented on #21
Hi @dcs-soni, that would be great.

In case you are not familiar with jekyll, a good starting point are the [jekyll docs](https://jekyllrb.com/docs/), how to run jekyll locally, structure of the site etc. Then check the [preCICE docs overview page](https://www.precice.org/docs-meta-overview.html).

Looking at the errors, the second one should be easy to fix.

The first one comes from the `algolia.

[2021-03-07 08:22] MakisH commented on #25
Good point, I can add this text. Unless you would like to! 😁

[2021-03-07 10:01] dcs-soni commented on #21
Hi @MakisH @chlorenz This is the first time I am using Ruby and getting involved in it. Tried to setup project locally but getting this error 👇
![image](https://user-images.githubusercontent.com/52232900/110236148-39e49d00-7f5a-11eb-8c63-78df86ee6769.png)

[2021-03-07 10:36] chlorenz commented on #21
Can you try without the `-l` flag, it doesn't work for me on Windows either?
Maybe also `--safe` might be the culprit.

[2021-03-07 11:42] dcs-soni commented on #21
It worked without  ` -l ` flag in windows. Thanks!

Can I create an issue regarding the installation steps for Windows, Mac ?

[2021-03-07 12:09] ajaust commented on #25
I created a PR https://github.com/precice/precice.github.io/pull/26

One question that is open to me: Is this the only occasion of intormation hidden in a figure or does this happen at other places of the documentation as well?

[2021-03-07 14:59] chlorenz commented on #21
Not sure I understand - I don't think this issue relates to Mac OS?

[2021-03-07 16:27] dcs-soni commented on #21
I've omitted the type attribute of the `style` element. After changing the errors what should I do now?  I mean I just have to create a branch and create a PR? or something else?

[2021-03-07 16:30] dcs-soni commented on #21
I mean windows users and mac users have to follow different installation guides to run this project locally?

[2021-03-07 20:54] chlorenz commented on #21
This issue is independent of this repo - it applies to all projects using jekyll.
Yes, please create a branch and PR.
The warnings are less important, it's the errors that break the HTML validity.

[2021-03-08 03:59] dcs-soni commented on #21
Need help - I've fixed the errors in `/_site/timeline/index.html` and checked again in HTML Validator, the errors are resolved now but the changes I've made in the files are not recognised by Git. After making changes I am getting "nothing to commit, working tree clean"

[2021-03-08 08:42] chlorenz commented on #21
Hi, please check [jekyll docs - directory structure](https://jekyllrb.com/docs/structure/).

[2021-03-08 14:08] dcs-soni commented on #21
Please check https://github.com/precice/precice.github.io/pull/27#issue-586730585

[2021-03-08 16:05] chlorenz commented on #21
Hi @dcs-soni
Your pull request removes the `type` attribute from the wrong tag.
As mentioned before please focus first on the errors. The warnings are not that important for now.
To test your changes please copy the source code into the HTML validator and post the result here.

[2021-03-08 16:11] dcs-soni commented on #21
Okay. Thank you for your feedback. I am looking into this issue again.

[2021-03-09 10:54] #25 closed, assigned to nobody

[2021-03-10 04:18] dcs-soni commented on #21
I am not able to locate the error in the project. Can you please guide me? I am not familiar with website build with jeykll and bit confused with the flow of pages.

[2021-03-10 09:21] chlorenz commented on #21
I would recommend to start with the [jekyll step-by-step tutorial](https://jekyllrb.com/docs/step-by-step/01-setup/) to get a feel for  jekyll. The directory structure can look messy at first - it will be a lot clearer after you have done the tutorial. If you are new to jekyll it will take a couple of hours to a day to get up to speed.

In a nutshell, when you do `jekyll serve/build` jekyll looks

[2021-03-10 11:21] dcs-soni commented on #21
Thanks for the explanation. I am still learning how the jeykll works.. Will jump to the issue soon.

[2021-03-10 21:30] MakisH commented on #19
Fixed in https://github.com/precice/precice.github.io/commit/5d06bfa677c00cdedb09da400d0cba6c8a58c311

[2021-03-10 21:30] #19 closed, assigned to nobody

[2021-03-10 21:32] MakisH commented on #16
We already have the followin in the [system packages page](https://www.precice.org/installation-packages.html):

Closing for now, reopen if more is needed.

[2021-03-10 21:32] #16 closed, assigned to nobody

[2021-03-10 21:36] MakisH opened #28 "Missing overview page of bindings"
In the [wiki](https://github.com/precice/precice/wiki/Non%E2%80%93standard-APIs) we have an overview page of all the bindings and how they are connected. At the same time, the bindings section in our documentation starts with a very short page on the [Fortran bindings](https://www.precice.org/installation-bindings-fortran.html).

We need to extend this. I plan to do this soon.

[2021-03-10 22:47] MakisH commented on #15
Does not apply in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:47] MakisH commented on #16
Closed in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:50] MakisH commented on #22
This is essentially closed in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:51] MakisH commented on #23
I think this is not relevant anymore in the [new website](https://github.com/precice/precice.github.io). We have now one link to Doxygen, which however has a nice landing page for the branches (thanks!).

[2021-03-10 22:55] MakisH commented on #43
Closed in the [new website](https://github.com/precice/precice.github.io) (in the restructuring of the tutorials).

[2021-03-10 22:55] MakisH commented on #45
Closed in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:55] MakisH commented on #46
Closed in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:55] MakisH commented on #47
Closed in the [new website](https://github.com/precice/precice.github.io).

[2021-03-10 22:57] MakisH commented on #48
Let's not add this to the new website actually. This mainly makes sense for the developers (so, on GitHub) and most adapters only use the systemtests status, which are currently too complex to show the actual status.

[2021-03-12 13:23] MakisH opened #37 "Missing documentation on integrating content from subprojects"
In the [documentation of the documentation](https://www.precice.org/docs-meta-overview.html) we need... documentation on how to add... documentation from other repositories.

We currently do this for the tutorials and for the OpenFOAM adapter, but this information is missing.

We need to add such a subproject in the `_config.yml` (repository and subprojects) and then we need to add it in a [sideba

[2021-03-17 18:40] uekerman commented on #28
The wiki information ended up here: https://www.precice.org/couple-your-code-api.html
The problem with the bindings documentation is whether things should go to "bulding" or to "couple your code".

[2021-03-18 21:14] MakisH commented on #28
Thank you, I deleted the wiki page content and added a link. We still need an overview page then, even if only to redirect to that. And we may need even more changes here.

[2021-04-09 16:29] #21 closed, assigned to nobody

[2021-04-13 12:33] chlorenz commented on #8
@MakisH Checking whether this issue is still open?

[2021-04-13 13:08] MakisH commented on #8
From the technical side, we can close it. We can then discuss today or (better) in the next months if this is an approach we want to follow for more components.

[2021-04-13 13:08] #8 closed, assigned to nobody

[2021-04-13 15:09] chlorenz opened #45 "Integrate Google Scholar publications"
Add a link on the landing page that points to all publications citing preCICE. If possible display the total number of publications.

[2021-04-13 15:10] chlorenz opened #46 "Improve footer on landing page and docs pages"
- [ ] split into two footer, one for landing page, one for docs pages
- [ ] check that licenses are correct (for preCICE on landing page)
- [x] replace icon from licensebuttons.com

[2021-04-13 15:12] chlorenz opened #47 "Remove sidebar when printing a page"
When printing a documentation page remove the sidebar so that only the content of the page is being printed.

[2021-04-13 15:13] chlorenz opened #48 "Check the file size of tutorial images"
- [x] Check file size of existing images @MakisH
- [x] Write a Github action to monitor newly added images @DavidSCN

[2021-04-13 15:15] chlorenz opened #49 "No cookie for you"
Double check that we are really not setting any cookies, get some sort of badge for it and add it to the footer. Bring it up in daily conversations with peers and shame them into doing the same.

[2021-04-13 16:09] davidscn commented on #48
Actually I forgot the important question: which size should be the threshold? Which size is still admissible and which not?

[2021-04-13 16:25] chlorenz commented on #48
I would suggest to warn above 250 KB - but that arbitrary and open to discussion.

[2021-04-13 16:27] uekerman commented on #45
"Cited 126 times on Google Scholar" and link to this page: https://scholar.google.com/scholar?hl=en&as_sdt=2005&sciodt=0,5&cites=5053469347483527186&scipsc=&q=&scisbd=1

[2021-04-13 19:39] MakisH commented on #48
I resized almost every static image above 250 KB. I also reduced the GIF size significantly (removing frames or compressing).

[2021-04-14 15:15] davidscn commented on #48
Has been added in precice/tutorials#203. We have no an image limit of 250kb and a gif limit (only a single one apparent) 2.2.mb.

[2021-04-15 07:40] uekerman commented on #48
I guess we can close this one.

[2021-04-15 07:40] #48 closed, assigned to MakisH, davidscn

[2021-04-26 08:31] MakisH opened #56 "Topnav section is not highlighted when in subpage"
One example:

![contributing-tutorials (copy)](https://user-images.githubusercontent.com/4943683/116052993-7db27380-a67a-11eb-898d-11eb13a9c657.png)

Here, a user lands on this page, has no clue that they are in the "Community" section.

[2021-04-28 15:40] chlorenz commented on #47
For reference, I took inspiration from https://www.matuzo.at/blog/i-totally-forgot-about-print-style-sheets/ .

[2021-04-28 15:40] #47 closed, assigned to nobody

[2021-04-28 20:04] #56 closed, assigned to nobody

[2021-06-02 12:55] chlorenz commented on #45
I've done some research on the how to get the number of citations from Google Scholar. Unfortunately Google does not provide an API for Scholar. I see three main workarounds:

 a) Query and parse the HTML (or use a library to do that), which is inefficient and slow, so it would have to be done at build time rather than in real time. See e.g. [scholarly.py](https://github.com/scholarly-python-packa

[2021-06-02 13:04] chlorenz commented on #45
In the end I found a relatively easy solution following approach a) based on a custom Jekyll plugin from [Jonathan Chang](https://jonathanchang.org/blog/easily-showcase-your-google-scholar-metrics-in-jekyll).

@uekerman Ideas where we should display the number of citations? Currently in the literature section on the landing page.

[2021-06-02 13:11] uekerman commented on #45
That's exactly what I would have suggested

[2021-06-02 13:37] #45 closed, assigned to nobody

[2021-06-25 08:00] ajaust opened #62 "Dead links in "Communication configuration" page"
The "communication configuration" page is incomplete. The link with further information if you are having problems with establishing the communication does not work. It links to `TODO` which gives a "404 page not found" error.

The problem is in this file https://github.com/precice/precice.github.io/blob/master/pages/docs/configuration/configuration-communication.md in line 32. The critical sectio

[2021-06-29 10:11] MakisH commented on #62
I think the "TODO" here means essentially porting this wiki page to the new documentation: https://github.com/precice/precice/wiki/Problems-with-Establishing-the-Communication

I guess this is something we forgot at some point. (right, @uekerman?)

Thank you for reporting, I am going through this now and adding a GitHub Action to check the non-TODO links.

[2021-06-29 10:49] uekerman commented on #62
IIRC we wanted to make this an FAQ post in the forum.

[2021-07-03 11:36] ajaust commented on #62
I want to add the the link  `[special case](macOS)` in line 18 does not work either for me.

Edit: Nor does the link `([for OpenMPI, for example](TODO))` in line 26.

Edit 2: Is their any link on this page that does work? There are quite some `TODO` link on this page.

Edit 3: I just saw that #66 seems to fix this issue.

[2021-07-04 17:00] uekerman commented on #62
And @MakisH added https://precice.discourse.group/t/help-the-participants-are-not-finding-each-other/646/4

[2021-09-13 08:33] MakisH opened #82 "Missing instructions on how to install FEniCS"
In the [FEniCS adapter documentation](https://precice.org/adapter-fenics.html), we currently have instructions on how to install the adapter.

In other adapter, for example for [OpenFOAM](https://precice.org/adapter-openfoam-support.html) and for [CalculiX](https://precice.org/adapter-calculix-get-calculix.html), we also have some instructions on how to install the solver itself first. It would be

[2021-09-13 08:47] IshaanDesai commented on #82
@MakisH thanks for bringing this up. It is indeed important to provide basic information regarding FEniCS installation and this is evident from the fact that we have had multiple users asking us about FEniCS installation before getting on to use the adapter. I will add a section :+1:

[2021-09-14 08:44] MakisH opened #83 "Update documentation for default build (shared/static)"
In https://github.com/precice/precice/pull/1077, the default CMake build type changed from static objects to shared objects. Therefore, we don't need to specify the `-DBUILD_SHARED_LIBS=ON` when building preCICE. However, we need to mention that this is still the case for older versions.

I can update this in the context of releasing preCICE v2.3.

[2021-09-22 13:26] fsimonis opened #86 "Call for action at the end of the landing page"
User may feel a bit lost when they arrive at the end of the landing page.
Normally, this means that the user has not found what he was looking for.

We could add a section directly before the footer:
Title: "Are you still here?"
Try one of these:

Buttons/Tiles:
* User projects -> link to stories
* Quickstart
* Literature -> link to literature guide

[2021-09-23 11:25] MakisH opened #88 "Document experimental API features"
See https://github.com/precice/precice/pull/1099#issuecomment-923707526

[2021-09-25 16:30] MakisH commented on #86
I think that the Quickstart would be the natural next step. The rest have already been linked to above.

Maybe we should even replace the "Try a tutorial yourself" button under the asciinema video to point to the Quickstart.

[2021-10-01 15:37] uekerman commented on #86
We could also point to https://precice.org/community-channels.html or directly to Discourse.

[2021-10-01 15:56] MakisH commented on #86
Potentially even to [is preCICE for me?](https://precice.discourse.group/c/what-is/9) category.

[2021-11-02 08:02] ajaust opened #98 "Duplication of publication information"
Currently, the homepage tends to duplicate literature information, especially for the (current) preCICE reference paper from 2016. This could be the case for other publications as well.

Information about the reference paper is encoded (at least) in:
- `collections/_publications/2016-BungartzLindnerGatzhammerMehlScheufeleShukaevUekermann.md`: In general `collections/_publications` collects all inf

[2021-11-11 13:30] fsimonis opened #99 "Add binprecice to docs"
Add information regarding binprecice:
* `binprecice version`https://github.com/precice/precice/pull/1122
* `binprecice check` https://github.com/precice/precice/pull/1132

[2021-11-18 18:31] #83 closed, assigned to MakisH

[2021-11-18 18:33] MakisH commented on #46
I don't remember anymore why this issue was assigned also to me.
I am also not sure what we meant with "split into two footer, one for landing page, one for docs pages".
The CC BY-SA license at the footer looks correct.

[2021-12-01 17:07] chlorenz commented on #46
@MakisH You were added as the license expert.
I might mis-remember this: There is preCICE the software, and there is the website - do they fall under the same license?

[2021-12-01 17:17] MakisH commented on #46
The preCICE library is LGPL-3. The website content (and previous wiki) is Creative Commons Attribution 4.0 International. There are also more software components, each with a different license.

[2021-12-01 17:24] chlorenz commented on #46
Thanks. Got it, in that case I will only clarify the footer to reflect that "this work" means the website.

[2021-12-13 13:11] MakisH opened #107 "Need to automatically build & deploy Jekyll PRs"
Has anyone ever tried making a GitHub Actions workflow that will build and deploy a PR to some temporary domain? I think that this would be very nice to quickly review PRs to the website, but I understand that we are limited by the "choose one branch" policy of GitHub pages.

We could always deploy to some different subdomain (e.g., `preview.precice.org`) via some other cloud provider, of course,

[2021-12-13 13:14] MakisH opened #108 "Documentation for CalculIX adapter debian packages missing"
We now have Debian packages for the CalculiX adapter: https://github.com/precice/calculix-adapter/pull/72

We should also add the respective documentation, once we have the first release with packages.

[2022-01-25 20:48] MakisH commented on #33
I am not sure if a form is still relevant. We could ask them to directly add a file in https://github.com/precice/precice.github.io/tree/master/collections/_testimonials as a pull request.

[2022-01-26 08:32] BenjaminRodenberg commented on #33
I like the idea of using a pull request here. If we want to give some more guidance, we can provide an empty testimonial file as a template that users just copy and fill out.

If we create a form we have to develop & maintain it. I don't see real benefits over using the github-based workflow, since we can assume that our users have a github account and know how to create a PR; if (hopefully few) u

[2022-01-26 11:40] uekerman commented on #33
Agree. We should still update the text there though. The "tell us your story" has not yet worked a single time :grin:

[2022-01-27 12:45] #82 closed, assigned to nobody

[2022-01-28 13:21] fsimonis commented on #107
Then we need previews for different PRs, possibly based on their PR number `preview.precice.org/123/`.
This would require some housekeeping to remove old/merged PRs etc.

An easy alternative would be to build the site and upload it as an artefact.

[2022-01-28 18:01] MakisH commented on #107
That would indeed be easy and probably enough to preview what usually matters.

Does this mean I would then download a pre-built collection of HTML pages, as Jekyll would serve it?

[2022-01-31 16:00] #99 closed, assigned to fsimonis

[2022-02-01 10:12] BenjaminRodenberg opened #116 "Raw URLs are not clickable"
Usually raw URLs in markdown are rendered as clickable. For example https://precice.org/ (Markdown: `https://precice.org/`). Our website does not follow this rule. This requires work-arounds like [https://precice.org/](https://precice.org/) (Markdown: `[https://precice.org/](https://precice.org/)`).

From my perspective this is absolutely not critical, because a work-around exists. But it is still

[2022-02-01 10:12] fsimonis commented on #107
Exactly.

This is essentially the same as building it locally and directly opening the page.
[code]

[2022-02-02 17:11] chlorenz commented on #116
As far as I know URLs are not being rendered according to the original Markdown specification, but pretty much all popular Markdown parsers do it. In particular Github Flavoured Markdown (GFM).

We are using kramdown as a renderer which claims to be GFM-compatible, but isn't, see e.g. https://github.com/kramdown/parser-gfm/issues/17 or https://github.com/barryclark/jekyll-now/issues/459#issuecomme

[2022-02-02 20:44] BenjaminRodenberg commented on #116
Thanks for looking into this @chlorenz! Then this seems to be an issue with kramdown and we have to wait until it is fixed there. I will close this issue and mark is as `wontfix`, because we cannot really do something.

[2022-02-02 20:44] #116 closed, assigned to nobody

[2022-02-06 23:26] MakisH opened #121 "Missing overview of SU2 adapter"
https://precice.org/adapter-su2-overview.html

[2022-02-07 14:27] fsimonis commented on #107
@MakisH The betterscientificsoftware GitHub repo automatically pushes to a preview server https://github.com/betterscientificsoftware/bssw.io/tree/master/.github/workflows

[2022-02-08 10:23] MakisH commented on #88
Add a hint for enabling it here: https://precice.org/couple-your-code-direct-access.html

@DavidSCN says: Maybe add an overview page of experimental features? (waveform, direct mesh access)

[2022-02-08 10:25] MakisH commented on #108
@boris-martin do you think you could add 1-2 lines for this in the "Get the adapter" page? Still noting that this is experimental, maybe.

[2022-02-08 10:27] boris-martin commented on #108
@MakisH Ideally I'd do that once I can put a link to the release tag, so that the user doesn't need to look into the Actions artifacts

[2022-02-08 16:27] MakisH opened #122 "Missing documentation for DUNE adapter"
The only resource we currently have is the README file of the adapter: https://github.com/precice/dune-adapter

[2022-02-08 21:58] #108 closed, assigned to MakisH

[2022-02-09 16:40] fsimonis opened #125 "Rename binprecice to precice-tools in docs"
Will be released with 2.4.0 and will take affect with 3.0.0

[2022-02-09 16:42] davidscn commented on #125
We should change it in the documentation as early as possible for the same reasons as we renamed it already now, namely that people start using the upcoming features using `precice-tools`

[2022-02-09 16:59] fsimonis commented on #125
We should probably sync that with the 2.4.0 release. Otherwise the documentation will be wrong by default as precice-tools currently doesn't exist.

[2022-02-09 17:17] MakisH commented on #125
We can always update it now but write "until preCICE v2.3.0, this wall called binprecice".

[2022-02-09 19:03] uekerman commented on #122
DUNE is currently still in the [third-party adapters list](https://precice.org/adapters-overview.html#third-party-adapters). For such we normally don't have specific documentation. Does not hurt though.
And there is Max's thesis, of course, to which we link.

[2022-02-09 19:16] MakisH commented on #122
Ah, I did not see it in the list originally, thanks!
Then we don't really need anything for now.

[2022-02-09 19:16] #122 closed, assigned to nobody

[2022-02-11 16:23] fsimonis opened #128 "Missing documentation for scaled-consistent mapping constraint"
The page on mapping configuration still only mentions `conservative` and `consistent`.

We also have `scaled-consistent`

[2022-02-15 11:00] BenjaminRodenberg opened #130 "References as footnotes in Markdown"
I stumbled across the the following way to do references in markdown.[^1] (source: `...in markdown.[^1] `)

And just two more references, for illustrational purposes.[^1][^2] (source: `...purposes.[^1][^2]`)

This allows us to create nicely linked references on our markdown pages and it is supported by github, as well. What do you think? I like the fact that the references are automatically linked

[2022-02-15 11:21] MakisH commented on #130
It seems to also enable reverse linking, nice! I upvote :+1:.

[2022-02-18 10:36] MakisH commented on #107
The Action we are using also seems to have multi-version builds, implemented as different paths: https://github.com/helaili/jekyll-action#use-case-multi-version-publishing

We could use the PR number as path.

[2022-02-22 13:10] ajaust opened #134 ""Edit me" on community stories leads to page template instead of testimonial"
If one wants to fix/edit a [community story](https://precice.org/community-projects.html) by clicking on the [edit me button](https://github.com/precice/precice.github.io_future/edit/master/pages/community/community-projects.md) one is forwarded to the page for editing `ROOT/pages/community/community-projects.md`. The file `community-projects.md` is only a page template which is filled with conten

[2022-02-22 15:13] BenjaminRodenberg opened #136 "Link to conda?"
I stumbled over a community maintained conda package for preCICE and pyprecice. I already added a link to pyprecice on the documentation page of the python bindings (https://precice.org/installation-bindings-python.html). I'm a bit unsure where to put the link for preCICE (https://anaconda.org/conda-forge/precice). It's similar to spack from the package manager perspective. But I also think it's a

[2022-02-22 15:16] BenjaminRodenberg commented on #136
There is already a link on https://precice.org/installation-packages.html#community-efforts.

[2022-02-22 15:16] #136 closed, assigned to nobody

[2022-02-28 08:51] uekerman commented on #134
We realized a workaround in #137 for the moment:
- Removed the "edit me" button
- Extended the note with more info

@ajaust The solution you describe would be great. I am not sure how easy this would be though.

@chlorenz What do you think? If unnecessarily complicated, let's close.

[2022-03-08 13:23] fsimonis opened #144 "Page on running Slurm job"
Common issues like
* networking
* hostfiles
* grouping executables
* checking failure states
* multiple mpirun calls

[2022-03-08 13:28] fsimonis opened #145 "Update multi-coupling page"
2.3.0 changes some restrictions

[2022-03-08 15:45] fsimonis commented on #145
Closed by [ef8edb2](https://github.com/precice/precice.github.io/commit/ef8edb2660a347032015a078349e5e99a44d7eaa)

[2022-03-08 15:45] #145 closed, assigned to fsimonis

[2022-03-08 17:05] boris-martin opened #148 "Consistency of (main) adapters overviews"
Of the 7 "main" adapters, 4 of them have more than one page: CalculiX, SU2, OpenFOAM and deal.ii. However, each has a different structure. A common structure would be welcome.

Some spotted issues & fixes:
- Only deal.II describes the original solver. (SU2 in part) **=> Add "What is CalculiX?" and "What is OpenFOAM?"?**
- History / references / cite section inconsistent, and empty with deal.ii (ad

[2022-03-11 10:09] MakisH commented on #144
We currently have the question of where such a page could fit.

We already had this problem with the [output files page](https://precice.org/fundamentals-output-files.html), currently listed under "Fundamentals", which now feels a bit like a "misc folder".

One way out would be to introduce a "Basic usage" / "First steps" / "Running" section, between "Installation" and "Configuration". This could

[2022-03-11 10:16] MakisH commented on #148
In this context, we could also rename all overview pages to the same pattern and add redirections to their short form (e.g., from `openfoam-adapter.html` to `openfoam-adapter-overview.html`) #79.

Could you convert your summary to a comparison table or checkboxes? We could then assign sub-tasks to different people over the next weeks. I don't think we need a huge PR solving everything at once.

In

[2022-03-11 16:22] uekerman commented on #144
Upvote on the additional section, but we still need to find a good name. "Basic usage" and "First steps" do not fit in my opinion. It is neither what users should read first nor basic. Both potential pages (output files and running on clusters) are advanced things, right? "Running" might be too unspecific. We could actually call it "Misc" :see_no_evil: and move it behind "Couple your code"?

Anywa

[2022-03-14 13:26] fsimonis commented on #144
What about a section called `Running codes` or `Running simulations`?
This fits nicely after the `Couple your code` section.

![image](https://user-images.githubusercontent.com/13552216/158181066-b392badf-3b9a-4eec-967d-3a60cc86fd4d.png) ![image](https://user-images.githubusercontent.com/13552216/158181156-285d8927-ee60-43b9-87ee-ad82e0d00881.png)

[2022-03-14 16:34] davidscn commented on #148
I agree on that as our codes and adapters are quite different. We should use the overview pages in order to make it more clear where to find what.

[2022-03-16 22:17] boris-martin commented on #148
Checkboxes added!
@MakisH the 4 overview pages currently have the `XX-adapter-overview.html` format.

[2022-03-22 11:48] BenjaminRodenberg opened #158 "Bug, feature or documentation issue? Compositional coupling with multiple implicit coupling schemes seems to work"
In our documentation, we say

see [here](https://github.com/precice/precice.github.io/blob/98642d619ec4d68e0503c930c0279cdfdca7d372/pages/docs/configuration/configuration-coupling-multi.md?plain=1#L25).

But I just found a test, where two implicit schemes are combined an seem to work:

[code]
from [`src/cplscheme/tests/multi-solver-coupling-2.xml`](https://github.com/precice/precice/blob/285e85f68

[2022-03-23 10:25] chlorenz commented on #134
What could be a solution?
- Re-integrate the data into the page, which feels messy as it will be difficult to enforce a consistent format.
- A form, that takes the data and writes it to the collection.
- ...

While it's not ideal from a user perspective, I do like the workaround: The note with the additional information on the [community story page](https://precice.org/community-projects.html), is

[2022-03-23 12:17] MakisH commented on #134
Simpler solution idea: we already know the name of the file we include. What if every story has a discrete, dedicated "edit me" button, that directly opens the corresponding file on GitHub? That could be styled as a hover-only element (similar to the "get URL" button we see in the headings). If too complicated, a simple text-only "Edit..." link at the bottom of each story would also do the job.

[2022-03-23 14:25] #144 closed, assigned to nobody

[2022-03-23 15:51] ajaust opened #161 "Sort adapters alphabetically in adapter overview"
Currently the sorting of adapters on the [adapter overview page](https://precice.org/adapters-overview.html) is rather random. Could we maybe sort them alphabetically? At the moment the page feels a bit "chaotic" when navigating as the list is quite long nowadays.

The list of [legacy adapter](https://precice.org/adapters-overview.html#legacy-adapters) already seems to be sorted alphabetically.

[2022-03-23 16:58] ajaust commented on #161
Closed via #162

[2022-03-23 16:58] #161 closed, assigned to nobody

[2022-03-29 10:16] MakisH opened #165 "Cheatsheets for the most common methods"
An old idea / request is to provide cheatsheets for the preCICE API. We could even make one that includes all bindings. We should then add this on the website (and find a way to remember to update it), from which we could also automatically generate a PDF file.

@fsimonis raised this again in the context of the preCICE course, but I think it would be best to implement this in the open.

[2022-03-29 10:28] uekerman commented on #165
How would the cheat sheet be different from our current API reference + the step-by-step guide?
I am a bit afraid that we duplicate information and then forget to update. Users also get confused if information is duplicated in my opinion.
Maybe we need to improve what we already have?
For the Python bindings, what we could do is to render the API reference and include it in the website? This would

[2022-03-29 14:29] fsimonis commented on #165
I imagine the cheat sheet to be a short overview of the most important functions of the (python) API in a printable A4 format. This could be printed and help users to find the function they are looking for and how the parameters are supposed to look.

Good would be to automatically generate this from the python bindings / doxygen.

[2022-03-29 15:05] MakisH commented on #165
I understand and agree with the duplication argument and we need to find a solution for that, if we decide to implement something.

Issues at the moment:
- API reference: only for C++, but also everything of the C++ API (easy to get lost there)
- Ste-by-step guide: multiple pages (not searchable)

I also imagine that the cheatsheet to be a very short overview of the most basic commands, in one (A4

[2022-03-31 16:31] uekerman commented on #165
Mmh. I think what we are really missing is an online reference of the Python API integrated into the website. Maybe let's do this first before we conclude on whether we need anything more?

[2022-03-31 16:38] uekerman commented on #158
Well, the test is there to check whether it works technically. Numerically, it still does not converge well.
Isn't that included in the "only makes sense" :grin: ?

[2022-04-12 10:40] uekerman commented on #165
Currently, the Python API is also not searchable on the website, e.g. `is_ongoing` yields no results. This is really unfortunate.

[2022-04-13 06:28] MakisH commented on #165
The "expected" solution for that would be to add a readthedocs rendering of the Python API, but this would probably overshadow the website and confuse users.

One alternative would be that we [generate markdown from Sphinx documentation](https://github.com/clayrisser/sphinx-markdown-builder) and render it on our website.

Other than that, such a cheatsheet for all bindings (I include Fortran, Matl

[2022-04-13 06:44] MakisH commented on #148
Thanks! If you want, feel free to push this forward with PRs. Otherwise, we could distribute the work during one of our next coding sessions.

[2022-04-13 11:19] uekerman commented on #165
Btw, also the [C++ API documentation](https://precice.org/doxygen/master/classprecice_1_1SolverInterface.html) is not findable through the search :see_no_evil:

[2022-04-28 14:51] fsimonis commented on #165
We could integrate [precice/doxygen](https://github.com/precice/doxygen) into the website.
Then the Angolia indexer should pick up the entire C++ documentation.
We could then do the same for the python documentation.

@chlorenz Is is possible to filter this agolia index somehow? The Gem doesn't seem to provide this functionality.

[2022-05-06 10:10] fsimonis opened #167 "Add channel transport to overview"
The tutorial was added, but it isn't yet listed under the [further cases](https://precice.org/tutorials.html#further-cases).

[2022-05-07 11:06] uekerman commented on #167
Done in https://github.com/precice/precice.github.io/commit/a029f4603e3a1652945037ef50905767206864b2

[2022-05-07 11:06] #167 closed, assigned to nobody

[2022-05-10 13:16] MakisH opened #168 "Documentation for pkg-config for local build"
In https://precice.org/installation-source-installation.html, we describe how to set the `PKG_CONFIG_PATH` for an installed copy of preCICE.

https://github.com/precice/precice/pull/1238 added a new `libprecice.pc` file directly in the `build/` directory, as described in https://github.com/precice/precice/pull/1238#issuecomment-1108308991.

This would generally be useful also for users that just w

[2022-05-20 08:55] fsimonis opened #170 "Consider switching to MathJax"
GitHub now supports rendering of LaTeX in Markdown using (MathJax)[https://github.blog/changelog/2022-05-19-render-mathematical-expressions-in-markdown/].

Switching the website to from KaTeX to MathJax may prevent incompatibilities between the two systems.

@chlorenz Are there any reasons to stick to KaTeX?

[2022-05-21 12:43] chlorenz commented on #170
Yes, there are. My understanding is that MathJax was the first serious LaTeX engine, is widely in use, and has accessibility advantages. KaTeX on the other side is more modern, faster, and still being developed further. Here is an article [commenting on Github's MathJax introduction.](https://nschloe.github.io/2022/05/20/math-on-github.html)

Aside from that, both Github and [preCICE docs](https:/

[2022-05-21 12:43] #170 closed, assigned to chlorenz

[2022-05-21 13:55] fsimonis commented on #170
Thanks for the info!

[2022-06-30 08:30] uekerman opened #177 "Add "when to cite what" guide"
Now that the new reference paper is accepted, which should update our citation guidelines.
When to cite:
- the new ref paper
- the old ref paper
- the distribution
- adapter papers

We could describe this in detail in one place and link to it from the landing page, the precice/precice README, the literature guide, ...
Where could this one place be?
- https://precice.org/publications.html#how-to-ci

[2022-07-04 09:33] MakisH opened #178 "Building from source/Dependencies: Hint that binary packages are usually available"
In our [Building from source : Dependencies](https://precice.org/installation-source-dependencies.html) page, users sometimes follow a path that leads them directly to each dependency, overlooking the hint that binary packages are usually enough. A use case for that is people building a specific version of preCICE (or with specific dependencies/compiler options).

Let's put some alert boxes in the

[2022-07-05 11:59] MakisH commented on #177
We already link to the "Literature guide" from the homepage, which comes early in the documentation. I think this should be the main place to find how to cite preCICE. Ideally, I could imagine "tabs" in the home page: the first tab is called "cite preCICE" and points to the v2 paper and the second tab is called something like "cite data" (yes, I know, not ideal name). We could potentially have a t

[2022-07-14 10:47] ajaust opened #183 "Unclear formulation of "Noteworthy Events" in performance analysis"
The last line

https://github.com/precice/precice.github.io/blob/c9ee69ae8b266263067f281f52c76ab87478d0ae/pages/docs/tooling/tooling-performance-analysis.md?plain=1#L70

is a bit confusing as it says, "This is not a problem for The main latency here is the distributed file-system."

It looks like there is half a sentence missing or have a sentence too much.

[2022-07-29 06:46] BenjaminRodenberg opened #190 "Links to the authors of many of the older testimonials/stories broken"
I just realized that many of the links to the authors of the testimonials unter https://precice.org/community-projects.html are broken. This is normal, since people hand in their thesis or switch to another employer. Do you have a good solution in mind to update the links? Things I can imagine:

* Use a site from the very beginning where we can assume the personal site or account lasts longer (git

[2022-07-29 07:28] uekerman commented on #190
I would suggest

combined with a good portion of "ignore such problems".

[2022-08-14 16:11] MakisH opened #200 "Missing citations link/count for v2 paper"
We currently have links to Google Scholar for the v1 paper citations in the landing page, as well as in the literature guide. We should also add links to the v2 paper once that is indexed.

This will require extending the file `_plugins/googlescholar.rb`.

[2022-08-14 17:00] MakisH commented on #165
Regarding cheatsheets, we could also offload that to the community. This platform seems to have quite some nice cheatsheets, which are indexed by DuckDuckGo: https://cheatography.com/

[2022-08-14 18:25] #177 closed, assigned to MakisH

[2022-09-19 09:10] davidscn opened #204 "Conflicting image files when building the website"
Building the website succeeds, but still emits a conflict warning:

[code]

Have a look at this [build website run](https://github.com/precice/precice.github.io/actions/runs/3081090480/jobs/4979232617) for an example.

[2022-09-22 10:37] #204 closed, assigned to nobody

[2022-11-07 09:45] fsimonis opened #214 "Add storage and runtime complexities for mappings"
It is not entirely clear which mappings have which performance and storage implications.

We should add a more info regarding this. Maybe a simple table with runtime and storage complexities for each mesh could already be enough.

[2022-11-07 09:47] davidscn commented on #214
We partially have such information in the reference paper.

[2022-11-07 09:54] fsimonis opened #215 "Recommend some initial RBF mappings"
We should recommend some RBF mapping to start with.
We currently have 10 RBF mappings to choose from, which can be overwhelming.

[2022-11-08 16:09] uekerman commented on #215
We already do a bit of this in https://precice.org/configuration-mapping.html#radial-basis-function-mapping (a section that anyway needs some tweaking).

[2022-11-16 12:14] #62 closed, assigned to MakisH

[2022-11-16 12:43] MakisH commented on #190
I fixed a few of these in #66.

Generally, we could also ask people to give us an ORCID URL, if they want. This should be permanent and they can update it however they want.

[2022-11-16 12:43] #190 closed, assigned to nobody

[2022-11-22 22:28] MakisH commented on #29
We don't maintain a publications database anymore.

[2022-11-22 22:28] #29 closed, assigned to nobody

[2022-11-22 22:29] MakisH commented on #34
We don't maintain such a publications database anymore.

[2022-11-22 22:29] #34 closed, assigned to nobody

[2022-11-22 22:39] MakisH commented on #17
I don't really see how we can act on this issue at the moment. Now all cases are using the same parameters, and those that don't are clearly stated, explaining how they differ.

One can usually guess by looking at the numbers where each parameter is set, while the adapter documentation pages could already hint towards common parameters.

We have taken a decision to keep our tutorial pages slim and

[2022-11-22 22:39] #17 closed, assigned to MakisH, BenjaminRodenberg

[2022-11-22 22:42] MakisH commented on #121
Closed by #140.

[2022-11-22 22:42] #121 closed, assigned to nobody